<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="section-header">
            <h2 class="section-heading">Tentang Kami</h2>
            <h3 class="section-subheading">
                Surya Phone adalah perusahaan yang bergerak di bidang Grosir dan Retail Handphone, Aksesories, IT, dan
                Kamera.
                Berdiri sejak tahun 2001, kami fokus pada kepuasan konsumen, terus berinovasi, dan memperluas jaringan.
            </h3>
        </div>

        <div class="card-wrapper">
            <div class="card red">
                <h2>VISI</h2>
                <p>
                    Menjadi Perusahaan Grosir & Retail Handphone, Aksesories, IT, Camera & Elektronik Terbaik Pilihan
                    Konsumen.
                </p>
            </div>
            <div class="card yellow">
                <h2>MISI</h2>
                <p>
                    Terlengkap dan Terpercaya.
                </p>
            </div>
        </div>

        <!-- <div class="section-header pt-8">
            <h2 class="section-heading">Budaya Kami</h2>

            <div class="column card-culture-list">
                <div class="card row">
                    <p class="text-dark">Kemanjuan dan terus bekerja</p>
                </div>
                <div class="card row">
                    <p class="text-dark">Kejujuran</p>
                </div>
                <div class="card row">
                    <p class="text-dark">Kepuasan pelanggan</p>
                </div>
            </div>
        </div> -->
    </div>
</section>